*{
    margin: 0;
    padding: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#img_1 {
    background-color: rgb(207, 230, 250);
}

#img_2 {
    background-color: rgb(250, 240, 226);
}

#img_3 {
    background-color: rgb(220, 253, 253);
}

#img_4 {
    background-color: rgb(209, 250, 236);
}

#img_5 {
    background-color: rgb(206, 250, 250);
}

#img_6 {
    background-color: rgb(250, 250, 219);
}

#img_7 {
    background-color: rgb(250, 235, 216);
}

#img_8 {
    background-color: rgb(209, 206, 206);
}

#img_9 {
    background-color: rgb(247, 232, 210);
}

#img_10 {
    background-color: rgb(218, 218, 253);
}

#slider_box>ul>li {
    float: left;
    display: block;
    height: 100px;
}

#slider_box>ul {
    overflow: hidden;
    width: 1000%;
}

#slider_box {
    overflow: hidden;
    position: relative;
    left: 30px;
}

#left_nav {
    float: right;
}

#nav_slider>div {
    background-color: rgb(58, 209, 65);
    width: 30px;
    height: 50px;
}

#right_nav {
    float: left;
}

#nav_slider {
    overflow: hidden;
    position: relative;
    top: -90px;
}

#slider {
    overflow: hidden;
    width: 680px;
    margin: 0 auto;
}

#img_11 {
    background-color: rgb(189, 243, 189);
}
#img_12 {
    background-color: rgb(207, 230, 250);
}

#img_13 {
    background-color: rgb(250, 240, 226);
}

#img_14 {
    background-color: rgb(220, 253, 253);
}

#img_15 {
    background-color: rgb(209, 250, 236);
}

#img_16 {
    background-color: rgb(206, 250, 250);
}

#img_17 {
    background-color: rgb(250, 250, 219);
}

#img_18 {
    background-color: rgb(250, 235, 216);
}

#img_19 {
    background-color: rgb(209, 206, 206);
}

#img_20 {
    background-color: rgb(247, 232, 210);
}

#img_21 {
    background-color: rgb(218, 218, 253);
}

#img_22 {
    background-color: rgb(250, 250, 219);
}